In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
covid_deaths = pd.read_csv(r"C:\Users\danie\Documents\data projects\Covid Data Project\Covid Deaths Data\CovidDeaths.csv")
covid_deaths.head(6)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2/24/2020,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2/25/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2/26/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2/27/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2/28/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
5,AFG,Asia,Afghanistan,2/29/2020,1.0,0.0,0.143,NaN,NaN,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511

In [3]:
def get_irrelevant_col(df):
    return [x for x in df if df[x].count() < 60000]

# Creating a Function That Finds The Number Of Times The Values In All Columns Change Per Location

In [8]:
def get_location_rel(df):
    unique_loc = df["location"].unique()
    df_red = df.drop(["iso_code", "population", "continent"], axis = 1)
    nunique_by_loc_df = pd.DataFrame(data = {}) #empty dataframe, this  dataframe contains the number of unique column values by country
    for loc in unique_loc:
        nunique_by_loc = df_red[df_red["location"] == loc].nunique()
        nunique_by_loc["location"] = loc
        nunique_by_loc_df = pd.concat([nunique_by_loc_df, pd.DataFrame(nunique_by_loc).transpose()], ignore_index = True)
    return nunique_by_loc_df

# Finding the columns in the covid_deaths dataframe that have less than 60,000 non-null entries

In [5]:
covid_deaths_drop = get_irrelevant_col(covid_deaths)
covid_deaths_drop

['icu_patients',
 'icu_patients_per_million',
 'hosp_patients',
 'hosp_patients_per_million',
 'weekly_icu_admissions',
 'weekly_icu_admissions_per_million',
 'weekly_hosp_admissions',
 'weekly_hosp_admissions_per_million',
 'new_tests',
 'total_tests',
 'total_tests_per_thousand',
 'new_tests_per_thousand',
 'new_tests_smoothed',
 'new_tests_smoothed_per_thousand',
 'positive_rate',
 'tests_per_case',
 'tests_units',
 'total_vaccinations',
 'people_vaccinated',
 'people_fully_vaccinated',
 'new_vaccinations',
 'new_vaccinations_smoothed',
 'total_vaccinations_per_hundred',
 'people_vaccinated_per_hundred',
 'people_fully_vaccinated_per_hundred',
 'new_vaccinations_smoothed_per_million',
 'extreme_poverty',
 'male_smokers',
 'handwashing_facilities']

In [6]:
#removing irrelevant columns
cov_deaths_red = covid_deaths.drop(covid_deaths_drop, axis = 1)

In [9]:
cov_deaths_loc_nuniq_df = get_location_rel(cov_deaths_red)
cov_deaths_loc_nuniq_df

,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,...,median_age,aged_65_older,aged_70_older,gdp_per_capita,cardiovasc_death_rate,diabetes_prevalence,female_smokers,hospital_beds_per_thousand,life_expectancy,human_development_index
0,Afghanistan,432,413,217,375,333,36,125,413,217,...,1,1,1,1,1,1,0,1,1,1
1,Africa,443,428,420,428,416,292,385,427,416,...,0,0,0,0,0,0,0,0,0,0
2,Albania,431,417,290,372,342,22,109,417,290,...,1,1,1,1,1,1,1,1,1,1
3,Algeria,431,421,298,393,408,27,110,421,298,...,1,1,1,1,1,1,1,1,1,1
4,Andorra,425,286,108,231,85,6,15,286,108,...,0,0,0,0,1,1,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,Vietnam,464,327,42,123,20,5,14,327,42,...,1,1,1,1,1,1,1,1,1,1
215,World,465,465,465,459,465,450,454,465,463,...,1,1,1,1,1,1,1,1,1,1
216,Yemen,386,272,77,173,210,24,82,272,77,...,1,1,1,1,1,1,1,1,1,1
217,Zambia,409,350,229,337,202,26,83,350,229,...,1,1,1,1,1,1,1,1,1,1
218,Zimbabwe,407,356,167,289,211,36,86,356,167,...,1,1,1,1,1,1,1,1,1,1

In [18]:
# A list of names of columns that have at most one unique value per location
one_per_loc_lst = ["median_age", "aged_65_older", "aged_70_older", "gdp_per_capita", "cardiovasc_death_rate", "diabetes_prevalence", "female_smokers",
                  "hospital_beds_per_thousand", "life_expectancy", "population_density", "human_development_index", "iso_code", "continent"]

In [19]:
#table with columns from covid_deaths that has only one value per location
location_df = cov_deaths_red.loc[:, ["location"] + one_per_loc_lst]
location_df.head(6)

,location,median_age,aged_65_older,aged_70_older,gdp_per_capita,cardiovasc_death_rate,diabetes_prevalence,female_smokers,hospital_beds_per_thousand,life_expectancy,population_density,human_development_index,iso_code,continent
0,Afghanistan,18.6,2.581,1.337,1803.987,597.029,9.59,NaN,0.5,64.83,54.422,0.511,AFG,Asia
1,Afghanistan,18.6,2.581,1.337,1803.987,597.029,9.59,NaN,0.5,64.83,54.422,0.511,AFG,Asia
2,Afghanistan,18.6,2.581,1.337,1803.987,597.029,9.59,NaN,0.5,64.83,54.422,0.511,AFG,Asia
3,Afghanistan,18.6,2.581,1.337,1803.987,597.029,9.59,NaN,0.5,64.83,54.422,0.511,AFG,Asia
4,Afghanistan,18.6,2.581,1.337,1803.987,597.029,9.59,NaN,0.5,64.83,54.422,0.511,AFG,Asia
5,Afghanistan,18.6,2.581,1.337,1803.987,597.029,9.59,NaN,0.5,64.83,54.422,0.511,AFG,Asia

In [15]:
remaining_col = cov_deaths_red.columns
#list containing names columns from covid_deaths that are about death
death_df_col, other_df_col = [], []
for col in remaining_col:
    if re.search(".*death.*", col):
        death_df_col.append(col)
    else:
        other_df_col.append(col)

death_df = cov_deaths_red.loc[:, ["location", "date"] + death_df_col]
death_df.head(6)

,location,date,total_deaths,new_deaths,new_deaths_smoothed,total_deaths_per_million,new_deaths_per_million,new_deaths_smoothed_per_million,cardiovasc_death_rate
0,Afghanistan,2/24/2020,NaN,NaN,NaN,NaN,NaN,NaN,597.029
1,Afghanistan,2/25/2020,NaN,NaN,NaN,NaN,NaN,NaN,597.029
2,Afghanistan,2/26/2020,NaN,NaN,NaN,NaN,NaN,NaN,597.029
3,Afghanistan,2/27/2020,NaN,NaN,NaN,NaN,NaN,NaN,597.029
4,Afghanistan,2/28/2020,NaN,NaN,NaN,NaN,NaN,NaN,597.029
5,Afghanistan,2/29/2020,NaN,NaN,0.0,NaN,NaN,0.0,597.029

In [26]:
other_df = cov_deaths_red.loc[:, other_df_col]
other_df = other_df.drop(columns = ["iso_code", "continent"])
other_df.head(6)

,location,date,total_cases,new_cases,new_cases_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,reproduction_rate,stringency_index,...,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,diabetes_prevalence,female_smokers,hospital_beds_per_thousand,life_expectancy,human_development_index
0,Afghanistan,2/24/2020,1.0,1.0,NaN,0.026,0.026,NaN,NaN,8.33,...,54.422,18.6,2.581,1.337,1803.987,9.59,NaN,0.5,64.83,0.511
1,Afghanistan,2/25/2020,1.0,0.0,NaN,0.026,0.000,NaN,NaN,8.33,...,54.422,18.6,2.581,1.337,1803.987,9.59,NaN,0.5,64.83,0.511
2,Afghanistan,2/26/2020,1.0,0.0,NaN,0.026,0.000,NaN,NaN,8.33,...,54.422,18.6,2.581,1.337,1803.987,9.59,NaN,0.5,64.83,0.511
3,Afghanistan,2/27/2020,1.0,0.0,NaN,0.026,0.000,NaN,NaN,8.33,...,54.422,18.6,2.581,1.337,1803.987,9.59,NaN,0.5,64.83,0.511
4,Afghanistan,2/28/2020,1.0,0.0,NaN,0.026,0.000,NaN,NaN,8.33,...,54.422,18.6,2.581,1.337,1803.987,9.59,NaN,0.5,64.83,0.511
5,Afghanistan,2/29/2020,1.0,0.0,0.143,0.026,0.000,0.004,NaN,8.33,...,54.422,18.6,2.581,1.337,1803.987,9.59,NaN,0.5,64.83,0.511

In [27]:
death_df.to_csv(r"C:\Users\danie\Documents\data projects\Covid Data Project\DB Project\covdeath.csv")
other_df.to_csv(r"C:\Users\danie\Documents\data projects\Covid Data Project\DB Project\covother.csv")