In [2]:
import pandas as pd
import numpy as np

In [5]:
covid_deaths = pd.read_csv(r"C:\Users\danie\Documents\data projects\Covid Data Project\Covid Deaths Data\CovidDeaths.csv")
covid_deaths.head(6)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2/24/2020,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2/25/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2/26/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2/27/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2/28/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
5,AFG,Asia,Afghanistan,2/29/2020,1.0,0.0,0.143,NaN,NaN,0.0,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511

In [14]:
covid_deaths.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85171 entries, 0 to 85170
Data columns (total 59 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   iso_code                               85171 non-null  object
 1   continent                              81060 non-null  object
 2   location                               85171 non-null  object
 3   date                                   85171 non-null  object
 4   total_cases                            83072 non-null  float64
 5   new_cases                              83070 non-null  float64
 6   new_cases_smoothed                     82069 non-null  float64
 7   total_deaths                           73408 non-null  float64
 8   new_deaths                             73566 non-null  float64
 9   new_deaths_smoothed                    82069 non-null  float64
 10  total_cases_per_million                82623 non-null  float64
 11  new_cases_per_million                  82621 non-null  float64
 12  new_cases_smoothed_per_million         81625 non-null  float64
 13  total_deaths_per_million               72972 non-null  float64
 14  new_deaths_per_million                 73130 non-null  float64
 15  new_deaths_smoothed_per_million        81625 non-null  float64
 16  reproduction_rate                      68942 non-null  float64
 17  icu_patients                           8684 non-null   float64
 18  icu_patients_per_million               8684 non-null   float64
 19  hosp_patients                          10814 non-null  float64
 20  hosp_patients_per_million              10814 non-null  float64
 21  weekly_icu_admissions                  789 non-null    float64
 22  weekly_icu_admissions_per_million      789 non-null    float64
 23  weekly_hosp_admissions                 1295 non-null   float64
 24  weekly_hosp_admissions_per_million     1295 non-null   float64
 25  new_tests                              38945 non-null  float64
 26  total_tests                            38652 non-null  float64
 27  total_tests_per_thousand               38652 non-null  float64
 28  new_tests_per_thousand                 38945 non-null  float64
 29  new_tests_smoothed                     44625 non-null  float64
 30  new_tests_smoothed_per_thousand        44625 non-null  float64
 31  positive_rate                          42904 non-null  float64
 32  tests_per_case                         42311 non-null  float64
 33  tests_units                            46079 non-null  object
 34  total_vaccinations                     9374 non-null   float64
 35  people_vaccinated                      8744 non-null   float64
 36  people_fully_vaccinated                6431 non-null   float64
 37  new_vaccinations                       7954 non-null   float64
 38  new_vaccinations_smoothed              15092 non-null  float64
 39  total_vaccinations_per_hundred         9374 non-null   float64
 40  people_vaccinated_per_hundred          8744 non-null   float64
 41  people_fully_vaccinated_per_hundred    6431 non-null   float64
 42  new_vaccinations_smoothed_per_million  15092 non-null  float64
 43  stringency_index                       72207 non-null  float64
 44  population                             84622 non-null  float64
 45  population_density                     79274 non-null  float64
 46  median_age                             76706 non-null  float64
 47  aged_65_older                          75830 non-null  float64
 48  aged_70_older                          76276 non-null  float64
 49  gdp_per_capita                         77046 non-null  float64
 50  extreme_poverty                        52449 non-null  float64
 51  cardiovasc_death_rate                  77634 non-null  float64
 52  diabetes_prevalence                    78779 non-null  float64
 53  female_smokers                         60828 non-null  float64
 54  male_smokers                           59931 non-null  float64
 55  handwashing_facilities                 39007 non-null  float64
 56  hospital_beds_per_thousand             70847 non-null  float64
 57  life_expectancy                        80833 non-null  float64
 58  human_development_index                77517 non-null  float64
dtypes: float64(54), object(5)
memory usage: 38.3+ MB

# Testing relationships between columns in Covid Deaths Table

In [13]:
pd.crosstab(covid_deaths["iso_code"], [covid_deaths["location"]], rownames=["iso_code"], colnames = ["location"]).head()

location,Afghanistan,Africa,Albania,Algeria,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,...,Uruguay,Uzbekistan,Vanuatu,Vatican,Venezuela,Vietnam,World,Yemen,Zambia,Zimbabwe
iso_code,,,,,,,,,,,,,,,,,,,,,
ABW,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AFG,432,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AGO,0,0,0,0,0,407,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
AIA,0,0,0,0,0,0,78,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ALB,0,0,431,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Finding The Number Of Times The Values In All Columns Change Per Location

In [30]:
unique_loc = covid_deaths["location"].unique()
covid_deaths_red = covid_deaths.drop(["iso_code", "population", "continent"], axis = 1)
nunique_by_loc_df = pd.DataFrame(data = {}) #empty dataframe, this  dataframe contains the number of unique column values by country
for loc in unique_loc:
    nunique_by_loc = covid_deaths_red[covid_deaths_red["location"] == loc].nunique()
    nunique_by_loc["location"] = loc
    nunique_by_loc_df = pd.concat([nunique_by_loc_df, pd.DataFrame(nunique_by_loc).transpose()], ignore_index = True)
nunique_by_loc_df

,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,Afghanistan,432,413,217,375,333,36,125,413,217,...,1,0,1,1,0,0,1,1,1,1
1,Africa,443,428,420,428,416,292,385,427,416,...,0,0,0,0,0,0,0,0,0,0
2,Albania,431,417,290,372,342,22,109,417,290,...,1,1,1,1,1,1,0,1,1,1
3,Algeria,431,421,298,393,408,27,110,421,298,...,1,1,1,1,1,1,1,1,1,1
4,Andorra,425,286,108,231,85,6,15,286,108,...,0,0,1,1,1,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214,Vietnam,464,327,42,123,20,5,14,327,42,...,1,1,1,1,1,1,1,1,1,1
215,World,465,465,465,459,465,450,454,465,463,...,1,1,1,1,1,1,1,1,1,1
216,Yemen,386,272,77,173,210,24,82,272,77,...,1,1,1,1,1,1,1,1,1,1
217,Zambia,409,350,229,337,202,26,83,350,229,...,1,1,1,1,1,1,1,1,1,1
218,Zimbabwe,407,356,167,289,211,36,86,356,167,...,1,1,1,1,1,1,1,1,1,1